{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row py-5">
    <div class="col-3"></div>

    <div class="col-6">
        <div class="card">
            <div class="card-header text-center">
                <strong class="h6">LOGIN</strong>
            </div>

            <div class="card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-primary " type="submit">Login</button>
                </form>
                <p class="text-center">Don't have an account?<br><a href="{% url 'register' %}">Create an account</a></p>
            </div>
        </div>
    </div>

    <div class="col-3"></div>
</div>

{% endblock content %}
